<h2>Merci, vous avez payé <strong>$5.00</strong>!</h2>
<br>
<h1>Vous êtes bien inscrit à notre superbe newsletter que vous recevrez chaque mois !</h1>
<p>Et d'ailleurs on vous prendra aussi 5€ chaque mois</p>
<p>Si vous souhaitez vous désinscrire, essayez toujours de nous contacter</p>
