<div class="tropclasse">
<h2>Merci, pour les <strong>5€</strong>, ça payera une partie des clopes d'aujourd'hui!</h2>
<br>
<h1>Tu es bien inscrit(e) à notre superbe newsletter que tu recevras chaque mois !</h1>
<p>Et d'ailleurs on te prendra aussi 5€ chaque mois</p>
<p>Si tu souhaites te désinscrire, essaye toujours de nous contacter</p>
</div>